.benefit-carousel .swiper-pagination {
  position: static;
}

.benefit-carousel .swiper-pagination-bullet {
  background: #5c6ae480;
  opacity: 0.5;
}

.benefit-carousel .swiper-pagination-bullet-active {
  opacity: 1;
  width: 40px;
  border-radius: 10px;
  background: #004aad;
}
