@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

html {
  scroll-behavior: smooth;
}

.custom-card {
  border-radius: 30px 30px 0px 0px;
  background: linear-gradient(260deg, #7dc3f6 -52.33%, #005ad2 111.9%);
  color: white;
  overflow: hidden;
}

@layer components {
  .nav,
  .nav-active {
    @apply relative cursor-pointer;
  }

  .nav {
    @apply text-black opacity-60 font-medium;
  }

  .nav-active {
    @apply text-active-blue font-bold;
  }

  .nav:hover {
    @apply text-active-blue opacity-100;
  }

  .nav::after {
    @apply content-[''] absolute bg-active-blue h-1 w-[0%] left-0 -bottom-2 rounded-sm duration-300;
  }

  .nav:hover::after {
    @apply w-[90%];
  }

  .nav-active::after {
    @apply content-[''] absolute bg-active-blue h-1 w-[90%] left-0 -bottom-2 rounded-sm duration-100;
  }
}

@layer base {
  h1 {
    @apply text-5xl font-bold leading-normal tracking-[0.2px];
  }

  h2 {
    @apply text-4xl leading-normal font-semibold;
  }
}
