.swiper {
  width: 100%;
  height: 100%;
  overflow: unset;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #004aad;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tes .swiper-slide::before {
  content: "";
  position: absolute;
  right: 30%;
  width: 26.341px;
  height: 381.755px;
  transform: rotate(31.095deg);
  background: rgba(255, 255, 255, 0.2);
}

.swiper-slide::after {
  content: "";
  background: #0984ea;
  position: absolute;
  right: -30px;
  width: 30px;
  height: 31px;
}

.swiper-slide:last-child::after {
  display: none;
}

#slides {
  /* overflow-y: auto; */
  /* overflow-x: ; */
}
